@import '../mixin.scss';

.results-container{
    width: 420px;
    max-height: 600px;
    overflow: auto;
    border: 1px solid #ccc;

    >.result{
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        cursor: pointer;
        border-bottom: 1px solid #eee;
        &:hover{
            background-color: #f9f9f9;
        }
        &:last-of-type{
            border-bottom: none;
        }

        >.result-title{
            color: #999;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            >b{
                color: black;
            }
        }
    }
}