@import './mixin.scss';
@import './components/search.scss';
@import './components/calendar.scss';
@import './components/results.scss';

html{
    >body{
        width: 100vw;
        height: 100vh;
        margin: 0px;
        font-family: sans-serif;
        @include flex();
        flex-direction: column;

        // Components
        button{
            cursor:pointer;
            color: #ccc;
            &:hover{
                color: black;
            }
        }
    }
}