<div class="search-container">
    <button class="search-btn" (click)="backToHome()"><i class="pe-7s-home"></i></button>
    <input 
        type="text" 
        class="search-input" 
        placeholder="ng2 todo-list" 
        [(ngModel)]="keyword" 
        (ngModelChange)="findMemo()"
        (focus)="focusOnSearch()"
    >
    <button class="search-btn close hide"><i class="pe-7s-close"></i></button>
    <button class="search-btn"><i class="pe-7s-search"></i></button>
</div><!-- search container -->
<!-- (blur)="backToPreviousPage()" -->