<div class="todolist-container">
    <div class="todo-tools">
        <input type="text" placeholder="search">
        <button title="Add new item to list"><i class="pe-7s-plus"></i></button>
        <button title="Mark all items as finished"><i class="pe-7s-check"></i></button>
        <button title="Delete all items"><i class="pe-7s-trash"></i></button>
    </div>
    <div class="todo-urgent">
        <div class="item">
            <input type="checkbox">
            <div class="item-content">This is the content</div>
            <button class="active"><i class="pe-7s-star"></i></button>
            <button><i class="pe-7s-trash"></i></button>
        </div>
        <div class="item">
            <input type="checkbox">
            <div class="item-content">This is the super loooooo nnnnnnnng content</div>
            <button class="active"><i class="pe-7s-star"></i></button>
            <button><i class="pe-7s-trash"></i></button>
        </div>
    </div><!-- urgent -->
    <div class="todo-normal">
        <div class="item">
            <input type="checkbox">
            <div class="item-content">This is a normal item.</div>
            <button><i class="pe-7s-star"></i></button>
            <button><i class="pe-7s-trash"></i></button>
        </div>
    </div>
</div><!-- todolist container -->